<mat-form-field style="width: 100%;" appearance="outline">
  <mat-label>Search User</mat-label>
  <input matInput (keyup.enter)="loadData()" placeholder="Enter Medicine Name" [(ngModel)]="searchKey">
</mat-form-field>

<div id="container">
  <div id="table">
    <div id="table-container">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Medi Request ID
          </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Medicine Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by brand">
            Brand
          </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
            Category
          </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
            Quantity
          </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userName">
            User Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <ng-container matColumnDef="userEmail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userEmail">
            User Email
          </th>
          <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Options
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              style="color: white!important; background-color: rgb(174, 224, 36)!important; padding: 10px; border-radius: 5px;"
              (click)="accept(element.id)">Accept </button>
            <button
              style="color: white!important; background-color: rgb(224, 107, 107)!important; padding: 10px; border-radius: 5px;"
              (click)="reject(element.id)">Reject </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>