#footer{
  margin-top: 200px;
}

section{
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 390px;
  color: blanchedalmond;
}

table{
  margin-top: 30px;
}

button{
  // margin-top: 30px;
  // margin-bottom: 30px;
}

#myPieChart{
  width: 400px !important;
  height: 400px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

canvas {
  max-width: 400px;
  max-height: 400px;
  display: block;
  margin: auto;
}

mat-label{
  color: white !important;
}

input{
  color: white !important;
  border-color: white !important;
}



