#footer{
  margin-top: 200px;
}

form{
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 390px;
  color: blanchedalmond;
}

table{
  margin-top: 30px;
}

button{
  // margin-top: 30px;
  // margin-bottom: 30px;
}

