<app-heading></app-heading>
<section>
  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Medicine Name</mat-label>
    <input matInput placeholder="Enter Medicine Name" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Enter Your Location" [(ngModel)]="location">
  </mat-form-field>

  <mat-form-field style="width: 100%;" appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput placeholder="Enter You Want Quantity" [(ngModel)]="qty">
  </mat-form-field>

  <button type="submit" (click)="loadData()" class="col-12 btn btn-primary">Find</button>
</section>

<div id="container">
  <div id="table">
    <div id="table-container">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Medicine ID
          </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Medicine Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by brand">
            Brand
          </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
            Category
          </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
            Price
          </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
            Quantity
          </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="expiry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expiry">
            Expiry Date
          </th>
          <td mat-cell *matCellDef="let element"> {{element.expiry}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by loation">
            Location
          </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="pharmacyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pharmacyName">
            Pharmacy
          </th>
          <td mat-cell *matCellDef="let element"> {{element.pharmacyName}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Options
          </th>
          <td mat-cell *matCellDef="let element"> <button
              style="color: white!important; background-color: rgb(148, 224, 107)!important; padding: 10px; border-radius: 5px;"
              (click)="requests(element.id,element.name,element.pharmacyName,element.location)">Request </button>
            <button
              style="color: white!important; background-color: rgb(107, 154, 224)!important; padding: 10px; border-radius: 5px;"
              (click)="pay(element.id,element.name,element.pharmacyName,element.location)">Pay </button>
            <button
              style="color: white!important; background-color: rgb(201, 224, 107)!important; padding: 10px; border-radius: 5px;"
              (click)="find(element.location)">Find </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
   <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons (page)="pageChanged($event)">
  </mat-paginator>
</div>

<div id="footer">
  <app-footer></app-footer>
</div>
