<div id="home-container">
  <div id="home">
    Welcome to the Smart Pharmacy Finder!
    <br>
    This easy-to-use web application helps you quickly find nearby pharmacies that have the medicine you need in stock.
    Simply search for a medicine, and the system shows you where it’s available closest to you. If it's not available
    right now, you’ll receive a notification as soon as it is. Plus, with built-in AI, you'll get smart suggestions for
    safe alternative medicines. Whether you’re a customer, pharmacy owner, or admin, the platform makes managing and
    accessing medicine information faster, smarter, and more convenient.
  </div>
  <img class="medicine-img" src="../../../assets/istockphoto-1091707480-612x612-removebg-preview.png" alt="">
</div>