.chart-container {
  width: 400px !important;
  height: 400px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

body{
  width: 100%;
}
