<app-heading />

<mat-tab-group id="tabs">
  <mat-tab label="Medicine">

    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Search Medicine</mat-label>
      <input matInput (keyup.enter)="loadData()" placeholder="Enter Medicine Name" [(ngModel)]="searchKey">
    </mat-form-field>

    <div id="table-container">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Medicine ID
          </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Medicine Name
          </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by brand">
            Brand
          </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
            Category
          </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
            Price
          </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by quantity">
            Quantity
          </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="expiry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by expiry">
            Expiry Date
          </th>
          <td mat-cell *matCellDef="let element"> {{element.expiry}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Options
          </th>
          <td mat-cell *matCellDef="let element"> <button
              style="color: white!important; background-color: rgb(224, 107, 107)!important; padding: 10px; border-radius: 5px;"
              (click)="delete(element.id)">Delete </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons (page)="pageChanged($event)">
      </mat-paginator>
    </div>
  </mat-tab>

  <mat-tab label="Save Medicine">
    <app-save-medicine></app-save-medicine>
  </mat-tab>
  <mat-tab label="Update Medicine">
    <app-update-medicine></app-update-medicine>
  </mat-tab>
</mat-tab-group>

<app-footer></app-footer>