<nav>
  <img id="image" src="../../../assets/green.webp" alt="" width="150px">
  <a href="">Home</a>
  <a href="">Find</a>
  <a href="">AI Assistant</a>
  <a href="" id="signOut">SignOut<img src="../../../assets/10024363.png" alt="" width="30px"></a>

</nav>
<app-heading></app-heading>
<div id="home-container">
  <div id="home">
    <app-home-page></app-home-page>
  </div>
  <img id="medicine-img" src="../../../assets/istockphoto-1091707480-612x612-removebg-preview.png" alt="" width="360px">
</div>
<app-footer></app-footer>


