<form [formGroup]="form" (ngSubmit)="createData()">
    
  <div class="form-group">
      <label for="name">Medicine Name</label>
      <input formControlName="name" type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <input formControlName="brand" type="text" class="form-control" id="brand">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input formControlName="category" type="text" class="form-control" id="category">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input formControlName="price" type="number" class="form-control" id="price">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input formControlName="quantity" type="number" class="form-control" id="quantity">
    </div>
    <div class="form-group">
      <label for="expir">Expiry Date</label>
      <input formControlName="expir" type="date" class="form-control" id="expir">
    </div>
  <button [disabled]="form.invalid" type="submit" class="col-12 btn btn-primary">Save</button>
</form>