<app-heading></app-heading>
<mat-tab-group id="tabs">
  <mat-tab label="User Management">
    <app-active-users></app-active-users>
  </mat-tab>

  <mat-tab label="Pharmacy Management">
    <app-active-pharmacy></app-active-pharmacy>
  </mat-tab>

  <mat-tab label="Pharmacy Requests">
    <app-pharmacy-request></app-pharmacy-request>
  </mat-tab>

  <mat-tab label="Report Users">
    <app-report-users></app-report-users>
  </mat-tab>

  <mat-tab label="Report Pharmacy">
    <app-reported-pharmacy></app-reported-pharmacy>
  </mat-tab>

</mat-tab-group>

<div>
  <app-over-view></app-over-view>
</div>

<app-footer></app-footer>