h1{
  text-align: center;
  padding-top: 20px;
  color: white;
  font-weight: 600;
}

label{
  display: block;
  padding: 10px 30px;
  font-size: 20px;
  color: white;
}

input{
  margin-left: 20px;
  width: 80%;
  height: 30px;
  background-color: white;
 color: black;
}

button{
  display: block;
  margin: 30px 18%;
  width: 60%;
  height: 35px;
  background: #053D7C;
  color: white;
  border-radius: 25px;
}

button:hover{
  cursor: pointer;
}

p{
  color: white;
  text-align: center;
  font-size: 15px;

  a{
    color: aliceblue;
  }

}

.forgot-password{
  color: aliceblue;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
input{
  background-color: rgba(0, 0, 0, 0.066);
}
