<h1>SignIn page</h1>
<form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)">
  <label>User Name</label>
  <input type="text" ngModel name="username" id="username" placeholder="UserName">

  <label>Password</label>
  <input type="password" ngModel name="password" id="password" placeholder="Password">

  <input class="button" matButton="outlined" type="submit" value="Sign In">
</form>

<p>Don't have an Account ? <a routerLink="/login/register">REGISTER NOW</a></p>
<a routerLink="/login/forgot-password" class="forgot-password">Forgot Password</a>
<app-google-authentication id="google-button"></app-google-authentication>
<router-outlet></router-outlet>