<nav>
  <p>
    <img id="image" src="../../../assets/green.webp" alt="" width="150px">
  </p>

  <a id="home" routerLink="/dashboard-pharmacist">Home</a>
  <a id="request" routerLink="/user-medi-request">User Request</a>
  <a routerLink="/ai-assistant-pharmacist">AI Assistant</a>
  <a href="" id="signOut" (click)="signOut()">SignOut<img src="../../../assets/10024363.png" alt="" width="30px"></a>

</nav>
<img id="background"
  src="https://imgs.search.brave.com/nbdCTJoiOlnmcr0Qj3PqoOamrFfhwpBFSgTasgimDQ0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzQwLzEyLzky/LzM2MF9GXzI0MDEy/OTIzNF92QWJqanNM/aElPbVNTcUNveWww/MXVHZW9TY0loM016/by5qcGc"
  alt="">
<img src="assets\AdobeStock_648089714_Preview-removebg-preview.png" alt="Dashboard Image">
<router-outlet></router-outlet>